header {
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 8s; /* don't forget to set a duration! */
}

.mainMenu {
  display: flex;
  justify-content: right;
  max-width: 100%;
  /*padding: 2rem;*/
}

.mainMenu nav a {
  text-decoration: none;
  color: #fafafa;
  margin-left: 10px;
  font-size: 1.1em;
  font-weight: lighter;
}
